@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.contactsection{ /*this section for whole contactsection class*/
	position: relative;
	min-height: 100vh;
	padding: 60px 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(brick.jpg);
	background-size: cover;
}
.contactsection .content{
	max-width: 900px;
	text-align: center;
}
.contactsection .content h2{
	font-size: 40px;
	font-weight: 600;
	color: #000080;

}
.contactsection .content p{
	font-weight: 450;
	color: #000080;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.container .contactinfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactinfo .contactbox{
	position: relative;
	padding: 25px 0;
	display: flex;
}

.container .contactinfo .contactbox .text{
	display: flex;
	margin-left: 20px;
	font-size: 15px;
	color: #151B54;
	flex-direction: column;
	font-weight: 320;
}
.container .contactinfo .contactbox .text h3{
	font-weight: 600;
	color: #6960EC;

}
.contactform{
	width: 60%;
	padding: 40px;
	background-image: url(form.jpg);
	border-radius: 10px;
}
.contactform h2{
	font-size: 30px;
	color: #fff;
	font-weight: 600;
}

.contactform .inputbox{
	width: 100%;
	position: relative;
	margin-top: 12px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
	width: 100%;
	padding: 7px 0;
	font-size: 15px;
	margin-top: 12px 0;
	border: none;
	border-bottom: 3px solid black;
	outline: none;
	resize: none;
}


.contactform .inputbox span{
	position: absolute;
	left: 0;
	padding: 7px 0;
	font-size: 15px;
	margin-top: 12px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #000080;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
	color: green;
	font-size: 14px;
	transform: translateY(-22px);
}
.contactform .inputbox input[type="submit"]
{
	width: 100px;
	background:#0000A0;
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 12px;
	font-size: 16px;
	border-radius: 5px;
}

@media (max-width: 1000px)
{
	.contactsection{
		padding: 55px;
	}
	.container{
		flex-direction: column;
	}
	.container .contactinfo{
		margin-bottom: 42px;
	}
	.container .contactinfo
	.contactform{
		width: 100%;
	}
}