@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
@font-face{font-family: 'moontime regular';scr: url(./D:/CSY1018_1/htdocs/CSY1018/fonts/moontime regular.ttf);}
*{ padding: 0;margin: 0;box-sizing: border-box;}
html{font-family: 'Montserrat', sans-serif;font-size: 12px;scroll-behavior: smooth;width: 100%;height: 100%;}
body{display: grid;justify-content: end;align-content: end;min-height: 100vh;background: #f3f4f4;}
.visuallyhidden{display: none;}
/*START OF NAVIGATION SECTION */
#nav_section .nav_bar{
	max-width: 1720px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr auto;
}








/*START OF ABOUT SECTION */

#about{
	margin-bottom: 3rem;
	margin-top: 10rem;
}

#about .container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
#about .section_heading
{
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'poppins',sans-serif;
	text-align: center;
	color: #1a1f2f;
	padding: 1.8rem;
	margin-bottom: 2.5rem;
	
}

#about .wrapper{

	display: grid;
	grid-template-rows:460px;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	margin: 50px auto;
	align-items: center;
	justify-content: center;
}

#about .left{
	padding: 2rem;
}

#about .left .img {
	margin: 0 auto;
	overflow: hidden;
	height: 450px;
	width: 400px;
	box-shadow: 10px 5px 10px grey;
}

#about .left .img img{
	object-fit: cover;
	background: linear-gradient(#1e1e1e,#005a87);
	width: 100%;
	height: 100%;
	opacity: .9
}

#about  .d_button{
	display: flex;
	cursor: pointer;
 	padding: calc(0.6em - 4px) calc(1.6em - 4px);
 	height: 35px;
 	background-color: #1a1f2f;
 	margin-left: 2rem;
 	width: 20%;
 	border: none;
	border-radius: 20px;
	margin-top: -5rem;
 	
  } 

#about .d_button a{
 	font-size: 1.4rem;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-family: 'poppins',sans-serif;
}

#about .d_button:hover{
	opacity: .8;
}

#about .right {
	padding-top: 3rem 0;
	height: auto;
	width: 700px;
	height: 270px;
} 

#about .right .right_text{
	font-size: 1.5rem;
	text-align: justify;
	padding: 2rem;
	line-height: 30px;
	color: #000;
	font-family: 'Newsreader',sans-serif;
	height: 280px;
}
/*RESPONSIVE PART OF  ABOUT SECTION */

@media  (max-width: 991px){

	#about .container{
		width: 100%;
	}
	#about .wrapper{
		align-items: center;
		justify-content: center;
		text-align: center;
		display: block;
		width: 100%;
	}
	#about .right .d_button{
		flex-direction: column;
		font-size: 1.4rem;
		width: 30%;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		margin-top: -5rem;
	}
	#about .right .d_button a{
		width: 100%;
		text-align: center;
		justify-content: center;
	}
}
		







/*START OF CV PART */

#cv{
	margin-bottom: 5rem;
}

#cv .container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding-bottom: 2rem;

}
#cv .section_heading
{
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'poppins',sans-serif;
	text-align: center;
	color: #1a1f2f;
	padding: 1.8rem;
	margin-bottom: 2.5rem;
	
}


#cv .resume_grid{
	display: grid;
	grid-template-rows: 300px 300px 300px 200px  ;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid grey;
	grid-gap: 1rem;
	margin: 50px auto;

}

#cv .header{
	grid-column: 1/-1;
	background-color: red;
	background: linear-gradient(#1a1f2f,#005a87);
	height: 300px;

}


#cv .img{
	padding-top: 2rem;
}

#cv  .img img{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #1a1f2f;
	border: 1px solid grey;
}

#cv .name{
	text-align: center;
	font-size: 3rem;
	margin-top: 1rem;
	color: #fefefe;
	font-family: 'poppins';
}
#cv .info{
	text-align: center;
	font-size: 1.1rem;
	color: #fefefe;
	font-family: 'arial',sans-serif;
}


#cv .cv_profile{
	grid-column: 1/2;
	background-color: #e2e8f0;
	box-shadow: 2px 2px 2px #1a1f2f;
}

#cv .title_1{
	font-size: 2.2rem;
	color: #333;
	font-family: 'poppins',sans-serif;
	padding: 2rem;

	}
#cv .title_2{
	font-size: 2.2rem;
	color: #fefefe;
	font-family: 'poppins',sans-serif;
	padding: 2rem;
	background-color: #1a1f2f;
}

#cv .bar_titles{
	background-color:#1a1f2f; ;
		}

#cv .desc_2{
	padding: 2rem;
	font-size: 1.2rem;
	color: #000;
	text-align: justify;
	font-family: 'poppins',sans-serif;
}

#cv .cv_skills{

	background-color: #111;
	box-shadow: 2px 2px 2px #1a1f2f;
}

#cv .progressbar{
		width: 100%;
		background-color: white;

		
 
	}
	#cv .skills{
	text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fefefe;

  	
  }

	#cv .html{
		width: 80%;
		background-color:#5D6D7E;
		
		
	}
	#cv .css{
		width: 50%;
		background-color: #5D6D7E;
		
		
	}
	#cv .js{
		width: 5%;
		background-color: #5D6D7E;
		
		

	}
	#cv .uidesign{
		width: 60%;
		background-color: #5D6D7E;

		
	}
	#cv .bar_titles{
		font-size: 1.3rem;
		color: #fff;
		font-family: 'varela round';

}

#cv .education{
	background-color: #333;
		
}
#cv .Language{
	
	background-color: #e2e8f0;
		box-shadow: 2px 2px 2px #1a1f2f;
}
#cv .Language ul li{
		font-size: 1.2rem;
		color: #000;
		margin-left: 3rem;
		font-family: 'poppins',sans-serif;
	}

	#cv .edu_title{
		font-size: 1.3rem;
		color: #fff;
		margin-left: 2rem;
		font-family: 'poppins',sans-serif;
	}

	#cv .edu_subtitle{
		font-size: 1rem;
		color: #fff;
		margin-left: 2rem;
		font-family: 'poppins',sans-serif;
		margin-bottom: 1rem;
	}

#cv .contact{
background-color:#e2e8f0; 
	
	box-shadow: 2px 2px 2px #1a1f2f;
}

#cv .contact ul li{
	font-size: 1.2rem;
	color: #000;
	margin-left: 2.2rem;
	font-family: 'poppins',sans-serif;
	margin-bottom: 1.2rem;

}

#cv .profile_summary{

	background-color:#333;
}
 
 #cv .profile_summary ul li{
	font-size: 1.2rem;
	color: lightgray;
	margin-left: 2.5rem;
	font-family: 'poppins',sans-serif;


}

/*RESPONSIVE SECTION */

@media (max-width: 991px){
	#cv .resume_grid{
		display: block;
		width: 100%;
		text-align: center;
		list-style: none;

	}

}

/* END OF CV RESUME SECTION */






/*START OF SKILLS SECTION */

#skills {
	padding: 1rem 0;
}
#skils .container{
	margin: auto;
	overflow: hidden;
	padding-bottom: 2rem;

}

#skills .section_subheading{
	font-size: 2rem;
	text-align: center;
	font-family: 'poppins';
}

#skills .inner{
	padding-bottom: 5rem;
}

#skills .header{
	text-align: center;
	margin-top: -3rem;
	position: relative;
	width: 100%;
	

	
}

#skills .header:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 100px;
	background-color: 
}

#skills .header{
	text-align: center;
	margin-top: -3rem;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#skills .container_box{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	text-align: center;
	grid-gap: 3rem;
	padding: 1rem 80px;
	font-size: 1.2rem;
	font-family: 'poppins';
	

}

#skills .skill_box{
	padding: 1rem;
	cursor: pointer;
	font-family: 'varela round';
	text-align: justify;
	

}
#skills .skill_box:hover > .skill_title:after, .skill_box:hover > .skill_title:before{
	width: 35px;
}

#skills .skill_box:hover img{
	transform: translateY(-10px);
}

#skills .skill_title{
	display: flex ;
	flex-direction: column;
	padding: .5rem;
	align-items: center;
	margin-bottom: .5rem;
	position: relative;
	text-align: justify;
}
#skills .skill_title:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 0;
	height: 4px;
	border-radius: 2px 0 0 2px;
	background-color: #2ecc71;
	transition: .5s;
}

#skills .img{
	width: 90px;
	height: 90px;
	position: relative;
	background-color: #007AFF;
	border-radius: 45px;
	display: flex;
	justify-content: center ;
	align-items: center;
	transition: .5s;
}

#skills  .img:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100px;
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 45px 0  0  45px;


}
#skills .skill_title h3{
	color: #000;
	margin-top: .5rem;

}

#skills .skill_icon{
	width: 50px;
	z-index: 2;
}

/*RESPONSIVE PART */

@media (max-width: 991px){
	#skills .container_box{
		display: block;
		width: 100%;
		text-align: center;
	}
}



/*START OF STATS SECTION */

#stats {
	
	height: auto;
	margin-bottom: 3rem;
}

#stats .container{
	
	overflow: hidden;
	margin: auto;
	width: 90%;
	
}


#stats .section_subheading{
	font-size: 2rem;
	text-align: center;
	font-family: 'poppins';
}

#stats .all_items {
	margin-top: 5rem;
	display: grid;
	grid-gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem;

	
}

#stats  .item{
	padding: 2rem;
	
}

#stats .numb
{
	font-size: 8rem;
	font-family: 'poppins',sans-serif;

}

#stats  .desc
{
	font-size: 1.1rem;
	color: #fff;
	font-family: 'poppins';
	font-weight: 900;
}
#stats .desc_1{
	font-size: 1.1rem;
	color: #000;
	font-family: 'poppins';
	font-weight: 900;
}


#stats .all_items .item:nth-child(1){
	background-color: #0E0F4F;
	color: #fff;

}
#stats .all_items .item:nth-child(2){
	background-color: #1DC8C8;
	color: #1a1f2f;


}
#stats .all_items .item:nth-child(3){
	background-color: #2ea2cc;

}

/*RESPONSIVE PART */

@media (max-width: 991px){
	#stats .all_items{
		display: block;
		width: 100%;
		text-align: center;

	}

}
/*END OF STATS SECTION */


/*START OF CONTACT SECTION */

#contact_section {
	
	background-size: cover;
	background-position: center;
	height: 100vh;
}

#contact_section .container{
	
	overflow: hidden;
	margin: auto;
	width: 90%;
	background-color:#1a1f2f;
}


#contact_section .section_heading
{
	font-size: 4rem;
	text-transform: uppercase;
	font-family: 'poppins',sans-serif;
	text-align: center;
	color: #fefefe;
	padding: 1.8rem;
	margin-bottom: 2.5rem;
	
}

#contact_section .form_section{
	margin-top: 5rem;
	display: grid;
	grid-gap: 4rem;
	grid-template-columns: repeat(2, 1fr);
	background-color:#F5F5F5;
	padding: 2rem;
	margin-top: -4rem;

	
}


#contact_section .left_form h2{
	color: #1a1f2f;
	padding: 0;
	margin: 0;
	font-size: 3rem;

}

#contact_section .left_form p{
	color: #1a1f2f;
	margin-top: 1rem;
}

#contact_section .left_form h3{
	color: #006ba1;
	padding: 0;
	margin-top: 2rem;

}

#contact_section .headline{
	border-bottom: 2px solid rgb(12, 168, 207);
	width: 8%;
	margin-left: 0;

}

#contact_section .left_form span{
	color: #1a1f2f;
	font-weight: bold;
	font-family: 'Poppins';

}

#contact_section .left_form hr{
	width: 25rem;
	margin-left: 0;
	border: 1px solid rgb(53, 53, 52);
}

#contact_section .right_form{
	color: #1a1f2f;
	padding: 0;
	margin: 0;
}

#contact_section form{
	padding-top: 2rem;

}

#contact_section form h4{
	padding: 0;
	color: #1a1f2f;
}

#contact_section form input{
	padding: 0.6rem;
	width: 80%;
	border: none;
	background-color: rgba(136, 133, 133, 0.3);
	outline: none;
	border: none;
}

#contact_section form textarea{
	padding: 0.6rem;
	width: 80%;
	border: none;
	background-color: rgba(136, 133, 133, 0.3);
	outline: none;
	border: none;
}

#contact_section .button{
	width: 10rem;
	background-color: #006ba1;
	padding: 5px;
	outline: none;
	border-color: transparent;
	color: #e2e8f0;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 0.9rem;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'poppins';
}

#contact_section .button:hover{
	background-color: #e2e8f0;
	color: #1a1f2f;
	border: 1px solid #1a1f2f;
}

/*RESPONSIVE PART */
@media (max-width: 991px){
	#contact_section .form_section{
		display: block;
		width: 100%;
		text-align: center;

	}
	#contact_section{
		height: auto;
		width: 100%;
		background-size: cover;
		background-position: center;
	}
	#contact_section .right_form{
		margin-top: 2rem;
		margin-bottom: 2rem;

	}
	#contact_section .section_heading{
		font-size: 3.5rem;
		
	}
}


/*END OF CONTACT SECTION */


/*START OF FOOTER SECTION */

#bottom {
	position: relative;
	width: 100%;
	height: auto;
	background: linear-gradient(to right,#000,#222);
	padding: 50px 100px;
}

#bottom .container{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 2rem;
}

#bottom .container .column_1 .signature{
	
	color: #2BDADA;
	text-decoration: none;
	font-family: 'moontime regular';
	font-size: 3.8rem;
	letter-spacing: 1px;
	margin-bottom: 2rem;
}

#bottom .container .column_1 p{
	color: #888;
	font-family: 'poppins',sans-serif;

}

#bottom .social_sites{
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, 33px);
	grid-gap: 10px;
}

#bottom .social_sites li{
	list-style: none;
}

#bottom .social_sites li a{
	display: grid;
	display: inline-block;
	height: 30px;
	width: 30px;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 6px;
}

#bottom .social_sites li a:hover{
	background-color: #555;
}

#bottom .social_sites img{
	width: 28px;
	height: 28px;
	color: #fff;
}

#bottom .column_2 {
	position: relative;
}
#bottom .f_title{
	color: #2BDADA;
	font-family: 'poppins',sans-serif;
}
#bottom .column_2 li{
	list-style: none;
}
#bottom .column_2 li a{
	color: #fefefe;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	font-family: 'poppins',sans-serif;
	font-size: 1.2rem;
}
#bottom .column_2 li a:hover{
	opacity: .6;
}

#bottom .column_3 .info {
	position: relative;
}
#bottom .info li span:nth-child(1){
	
	width: 25px;
	color: #e2e8f0;
}

#bottom .info li{
	display: grid;
	grid-template-columns:30px 1fr;
	margin-bottom: 16px;
	margin-top: 1rem;
}
#bottom .info li span{
	color: #fefefe;
	font-family: 'poppins';

}

#bottom .info li svg{
	width: 18px;
}

#bottom .info a{
	text-decoration: none;
	color: #fff;
	font-family: 'poppins';

}
#bottom .info a:hover{
	opacity: .6;
}
#bottom .info li span:hover{
	opacity: .6;
	cursor: pointer;
}

 .copyright{
 	width: 100%;
 	background-color: #1DC8C8;
 	padding: 10px 100px;
 	text-align: center;
 	color: #333;
 	font-family: 'poppins',sans-serif;
 	font-size: 1rem;
 	height: 60px;

}

/*RESPONSIVE PART */

@media (max-width: 991px)
{
	#bottom{
		padding: 40px;
		text-align: center;
		align-content: center;
		justify-content: center;
	}
	#bottom .container{
		
		grid-template-columns: repeat(2, 1fr);
		
	}

	.copyright{
 	
 	padding: 10px 40px;
 	height: auto;
 	}
 	#bottom .social_sites{
 		align-items: center;
 		justify-content: center;
 	}
}
@media (max-width: 768px)
{
	#bottom .container{
		
		grid-template-columns: repeat(1, 1fr);
		
	}
	
}


/*END OF FOOTER SECTION */