.flex-container
{
	width: all;
	height: 1000px;
	background-color: black;
	margin:auto;

}

.main_navigation 
{
	width: all;
	height: 120px;
	background-color: #0C090A;
	margin: auto;
	
}
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Arial;
}

nav{
	background: #0C090A;
	height: 80px;
	width: 100%;
}
label.logo{
	color:white;
	font-size: 45px;
	line-height: 60px;
	padding:0 100px;
	font-weight: bold;
	


}
nav ul{
	float: right;
	margin-right: 20px;

}

nav ul li{
	display: inline-block;
	line-height: 60px
	margin:0 5px;
}

nav ul li a{
	color: white;
	font-size: 20px;
	padding: 8px 14px;
	border-radius: 4px;
	text-transform: uppercase;
}

a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}
#mainbody
{
	width: all;
	height: 700px;
	margin:auto;
	background-color: #25383C;
}
#footer
{
	width: all;
	height: 200px;
	margin: auto;
	background-color: #FEFCFF;
}
